.nav{
  margin-top:3px;
}

#content{
  height:100%;
}

#login-btn, #register-btn, div.value .button, .form div.submitbuttons div.row .button{
  padding: 2px;
}

.form div.row div.value {
  width:40%;
}

.form { padding:10px; }

#login-btn.gap{
  margin-right:5px;
}


