/* BASE ELEMENT STYLING
---------------------------------------------------------------------*/

/***TOP LEVEL ELEMENTS***/

html {
    position: relative;
    min-height: 100%;
}

body {
    /*padding-top: 90px;*/
    font-size: 12px;
    /*margin-bottom: 542px;*/
}

/***TEXT ELEMENTS***/

h1, h2, h3, h4, h5, p, a {
}
h1.page-header {
    margin-top:20px;
}

a {
    color: #312D2D;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: #312D2D;
    text-decoration: underline;
}
a:focus {
    color: #312D2D;
    text-decoration: none;
}

.alert-info a {
    color: #31708f;
}

address {
    margin-bottom: 5px;
}

.text-large {
    font-size: 1.4em;
}

/* BREADCRUMB */

ol.breadcrumb a {
    font-weight: normal;
}


/* SHARED CLASSES
---------------------------------------------------------------------*/

/***LAYOUTS***/

#consignor-dashboard-stats h1 {
   font-size: 56px;
}

#consignor-dashboard-stats p {
   font-size: 18px;
}

#consignor-nav .nav-pills {
    margin: 0 0 20px 0;
}

.nav-pills li.active a {
    background-color: #BE1D23;
}

.nav-pills li.active a:hover {
    background-color: #BE1D23;
}

.navbar-toggle-left {
    float: left;
    margin-left: 15px;
    margin-right: 0;
}

.jumbotron {
    background-color: #f5f5f5;
}

.container.auction-venue {
    margin-top: 125px;
}

.auction-venue .main-content {
    min-height: 800px;
}

.auction-venue fieldset {
    margin-top: 30px;
}


.container.marketplace-venue {
    margin-top: 125px;
}

.marketplace-venue .main-content {
    min-height: 800px;
}

.main-content-row.admin .breadcrumb {
    margin-top: 15px;
}

.marketplace-venue fieldset {
    margin-top: 30px;
}


/***Errors***/

ul.errors {
    color: red;
    font-size: 12px;
    list-style-type: none;
    padding-left: 4px;
    margin-bottom: 4px;
}

span.forgot-message {
    font-size: 12px;
    padding-left: 4px;
    margin-top: 4px;
}

/***Buttons***/

.btn-dark {
    color: #FFF;
    border: 1px solid #222;
    background: none;
    background-color: #312D2D;
}

.btn-default.active {
    color: #FFF;
    background: none;
    background-color: #585151;
}

.btn-dark:hover {
    color: #FFF;
    background: none;
    background-color: #585151;
}

.btn-red {
    color: #FFF;
    border: 1px solid #8C161A;
    background: none;
    background-color: #BE1D23;
}

.btn-red:hover {
    color: #FFF;
    background: none;
    background-color: #E5232A;
}

.btn-red:focus {
    background-color: #FFF;
    color: #BE1D23;
    border: 1px solid #8C161A;
}

.btn-delete {
    background: none;
    color: #666;
    font-size: 1.5em;
    border: none;
    padding: 10px;
    display:inline-block;
}
.btn-delete:hover {
    color: #000;
    text-decoration: none;
}
.btn-delete:active {
    color: #BE1D23;
}

.btn-utility {
    background: none;
    color: #444;
    border: none;
    padding: 6px;
}
.btn-utility:hover {
    color: #000;
    text-decoration: none;
}
.btn-utility:active {
    color: #BE1D23;
}

.btn-left {
    text-align: left;
}
.btn-default {
    border-color: #dbdbdb;
    background: #FFF;
}
.btn-lg {
    letter-spacing: 0.05em;
    font-weight: 700;
}

a.btn-flash {
    text-decoration: none;
}
a.btn-flash:hover {
    text-decoration: none;
}
a.btn-flash:hover div.alert {
    border-color: #000;
}

.label {
    font-size: 90%;
    box-shadow: rgba(0,0,0,0.1) 0 0 3px 0;
    -webkit-box-shadow: rgba(0,0,0,0.1) 0 0 3px 0;
    -moz-box-shadow: rgba(0,0,0,0.1) 0 0 3px 0;
}
.label.label-red {
    background-color: #BE1D23;
}
.label.label-black {
    background-color: #000000;
}
.label.label-gray {
    background-color: #969696;
}

.dropdown ul li a:hover {
   background: none;
   /*color: yellow;*/
   background-color: #E5232A;
   /*text-shadow: 1px 1px 1px black;*/
}

.go-to-watch-list-button, .remove-from-watch-list-button {
    /*font-size: 0.85em;*/
}

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu a.special:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float: none !important;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    right: 100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/***INPUT GROUPS***/

div.input-group select {
}

/***FONTS***/

.color-inverse {
    color: #FFF;
}

.red {
    color: #FF030D;
}

.orange {
    color: #EE9933;
}

.green {
    color: #118D00;
}

/***BADGES***/

/***INPUTS***/
.button {
    border: none;
    background-color: #BE1D23;
    color: #FFF;
}

.button-inverse {
    border: none;
    background-color: #312D2D;
    color: #FFF;
}

.button-special {
    border: none;
    background-color: #FFC42E;
    color: #FFF!important;
}

.input-group-addon {
    color: #FFF;
    background: none;
    background-color: #312D2D;
}
.input-group-addon.inherit {
    color: inherit;
    background: inherit;
    background-color: inherit;
}

/***TABLES***/

table.table tbody tr td {
    border: none;
    border-top: none;
}

/***Pagination***/

ul.pagination li a {
    color: #312D2D;
    font-weight: normal;
}

ul.pagination li a:hover {
    color: #BE1D23;
}

ul.pagination li.active span {
    background-color: #BE1D23;
    border-color: #BE1D23;
}

ul.pagination li.active span:hover {
    background-color: #BE1D23;
    border-color: #BE1D23;
}

ul.pagination.per-page {
    margin: 0px 0px;
}

ul.pagination.per-page a {
    font-weight: normal;
}

ul.pagination.per-page li.active span {
    background-color: #312D2D;
    border-color: #312D2D;
    margin-bottom: 10px;
}

div.result_count {
    display: block;
}
div.result-count span {
    padding: 10px 20px;
}

/***MISC***/

.fill-dark {
    background-color: #312D2D;
}

.fill-light {
    background-color: #f5f5f5;
    color: #312D2D;
}

.bid-update {
    background-color: yellow;
}

.section-heading {
    padding: 5px;
}

/* Dropzone
---------------------------------------------------------------------*/
#dropzone-clickable:hover {
    cursor: pointer;
    color: #222;
    background-color: #e5e5e5;
    border-color: #ccc;
}

/* Forms
---------------------------------------------------------------------*/
.legend {
    font-size: 28px;
}

div.form-group {
    margin-bottom: 10px;
}

div.form-section {
    margin-bottom: 40px;
}
div.form-section-compact {
    margin-bottom: 20px;
}
div.form-section-compact h3 {
    margin: 0 0 10px 0;
}

fieldset label {
    font-weight: normal;
}

label.optional {
    color: #808080;
}

div.radio label {
    font-weight: bold;
    font-size: 1.2em;
}

div.checkbox label {
    font-weight: bold;
}

---------------------------------------------------------------------*/

span.glyphicon-left {
    padding-right: 10px;
}

span.icon-left {
    padding-right: 10px;
}
.btn-xs span.icon-left {
    padding: 0 4px;
}
span.icon-right {
    padding-left: 10px;
}
span.glyphicon-right {
    padding-left: 10px;
}

span.glyphicon-button {
    padding: 6px 10px;
}

span.glyphicon-button.inactive {
    color: #CCC;
}

.no-padding {
    padding: 0;
}
.no-margin {
    margin: 0;
}

.low-padding {
    padding: 5px;
}

/* HEADER STYLING
---------------------------------------------------------------------*/

/***Mobile Search***/
#mobile-search {
    background-color: #FFF;
    position: fixed;
    top: 55px;
    width: 100%;
    z-index: 20;
}

/***TOP ROW***/
#top-row {
    background-color: #312D2D;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5px;
    z-index: 9999;
}

#top-row .help-link-wrapper a {
    padding-left: 8px;
}

#top-row .help-link-wrapper.small {
    margin-right: 10px;
}

#top-row .help-link-wrapper.small a {
    font-size: 12px;
    font-weight: bold;
    padding-left: 10px;
}

/***NAV BAR***/

#search-nav {
    padding-top: 10px;
    background-color: #FFF;
    top: 50px;
    padding-bottom: 6px;
}

#search-nav.border-bottom {
    border-bottom: 1px solid #EFEFEF;
    box-shadow: rgba(0,0,0,0.1) 0 0 8px;
    -webkit-box-shadow: rgba(0,0,0,0.1) 0 0 8px;
    -moz-box-shadow: rgba(0,0,0,0.1) 0 0 8px;
}

.navbar {
    border-radius: 0;
}

.navbar .dropdown ul {
    /*background-color: #BE1D23;*/
}

.navbar-inverse {
    /*margin-top: 5px;*/
    background-color: #BE1D23;
    background-image: none;
    border: none;
}

.navbar-inverse .navbar-nav li a {
    font-weight: bold;
    color: #FFF;
}

.navbar-inverse .navbar-nav .dropdown li a {
    color: #333;
}

.navbar-inverse .navbar-nav li a:hover {
    /*color: #FFF601;*/
    background-color: #E5232A;
    /*text-shadow: 1px 1px 1px black;*/
}

.navbar-inverse .navbar-nav .dropdown li a:hover {
    background-color: #e5e5e5;
}

.navbar-inverse .navbar-nav li a:hover span.badge {
    color: #000;
    text-shadow: none;
}

.navbar-inverse .navbar-right a.btn {
    margin-top: 8px;
    padding: 5px 15px;
}

.navbar-inverse .navbar-right a.btn:hover {
    background-color: #585151;
}

.navbar-inverse .navbar-toggle {
    color: #000;
    border-color: #000;
}

.navbar-inverse .navbar-toggle.simple {
    border: none;
    padding-left: 0;
    padding-right: 0;
    font-size: 18px;
}

.navbar-inverse .navbar-toggle.simple:hover, .navbar-inverse .navbar-toggle.simple:active {
    background: none;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #000;
}

.navbar-inverse .navbar-toggle:hover {
    background-color: #787878;
}

.navebar-inverse .navbar-toggle:hover {
    border-color: #BE1D23;
    background-color: #BE1D23;
}

.navbar-inverse .navbar-brand {
    color: #FFF;
}

.navbar-form a {
    font-size: 10px;
}

.main-nav .badge {
    background-color: #FFF;
    color: #BE1D23;
    font-size: 10px;
    padding: 2px 5px;
    margin-top: 3px;
    vertical-align: top;
}

@media (min-width: 768px) {
    .navbar-inverse .navbar-brand {
        display: none;
    }
}

/***NAV BAR***/

.nav-tabs {
    border-color: #000;
    margin-bottom: 20px;
}

.nav-tabs li a {
    color: #312D2D;
}

.nav-tabs li a:hover {
    color: #FFF;
    background-color: #D22027;
    background-color: #312D2D;
    border-bottom-color: #000;
}

.nav-tabs li.active a {
    border: solid 1px #000;
    border-bottom-color: transparent;
}

.nav-tabs li.active a:hover {
    border: solid 1px #000;
    border-bottom-color: transparent;
}

.nav-tabs li.active ul li a, .nav-tabs li.active ul li a:hover {
    border: none;
}

.nav-tabs li.active ul li a:hover {
    color: #FFF;
    background-color: #312D2D;
}
/***SEARCH WRAP***/

.search-container {
    padding-top: 90px;
}

.search-wrap {
    margin: 0 0 20px;
}

.search-wrap #site-search {
    margin: 10px 0 0 0;
}

.search-wrap .button {
}

#site-search {
    margin-top: 10px;
}

/* LEFT MENU
---------------------------------------------------------------------*/

#auction-category-menu:not(.mm-menu), #marketplace-category-menu:not(.mm-menu), #user-menu:not(.mm-menu), #admin-category-menu:not(.mm-menu) {
    display: none;
}

/***CATEGORIES***/

.category-list {
    line-height: 25px;
}

.category-list ul {
    padding-bottom: 15px;
}

.categories {
}

.categories div.dropdown {
}

.categories div.dropdown ul li a {
    color: #333;
}

.categories h2 {
    cursor: pointer;
    background-color: #312D2D; /*pristine theme*/
    padding: 10px 0 10px 20px;
    margin: 0;
    font-size: 20px;
    /*font-weight: bolder; /*sean theme*/
    /*color: #000; /*sean theme*/
}

.categories ul {
    font-size: 12px;
    background-color: #BE1D23; /*pristine theme*/
    margin: 0;
    padding: 5px 0 10px 0;
    list-style: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.categories ul.tall {
    min-height: 1920px;
}


.categories ul li a {
    color: #FFF; /*pristine theme*/
    /*color: #000; /*sean theme*/
    /*font-weight: bold;*/
    text-align: left;
}

.categories ul li a:hover {
    /*color: #BE1D23; /*sean theme*/
    color: #FFF;
    /*text-shadow: 1px 1px 1px black;*/
}

/* RIGHT MENU
---------------------------------------------------------------------*/

.auction-status {
    background-color: #312D2D;
    color: #FFF;
    padding: 10px;
}

.auction-status strong {
    color: #FFF601;
}

.marketplace-banner, .auction-banner {
}

/* HOME PAGE SLIDER
---------------------------------------------------------------------*/

.carousel-control .glyphicon-chevron-left {
    margin-left: -60px;
}

.carousel-control .glyphicon-chevron-right {
    margin-right: -60px;
}

.carousel div.item {
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFF;
}

.carousel div.item .slider-title {
    margin-top: -30px;
    overflow: hidden;
    height: 180px;
}

.carousel div.item .slider-title a:hover {
    color: #FFF601;
}

.carousel div.item div.daily-slider {
    background-color: rgba(0, 0, 0, 0.3);
}

.carousel div.item img {
    max-height: 270px;
}


.carousel div.item, .carousel div.item .row-eq-height {
    height: 300px;
}

.carousel div.item a:hover {
    text-decoration: none;
    cursor: pointer;
    color: #C9C9C9;
}

.carousel div.item span {
    margin-left: 20px;
}

/* MARKETPLACE HOME PAGE
---------------------------------------------------------------------*/

.marketplace-banner {
    margin-bottom: 20px;
}

/* AUCTION ADAVANCED SEARCH
---------------------------------------------------------------------*/

#auction-advanced-search { margin: 20px 0 50px 0; }

/* PRODUCT LIST
---------------------------------------------------------------------*/

div.product-list {
    margin: 0 0 0 0;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #e5e5e5;
}

div.product-list:nth-child(even) {
    background-color: #f5f5f5;
}

div.product-list img {
    margin-bottom: 15px;
    /*max-width: 100px;*/
}

.product-list .title a {
    color: #BE1D23;
    text-decoration: none;
}
.product-list .title a:hover {
    color: #312D2D;
    text-decoration: underline;
}
.product_list .title a:focus {
    color: #312D2D;
    text-decoration: none;
}
.product-list table {
    width: 100%;
}

.product-list table tr th {
    text-align: center;
    border: none;
}

#add-to-order, #add-to-cart {
    margin-bottom: 20px;
    width: 100%;
}

/* PRODUCT DEATILS
---------------------------------------------------------------------*/
.lgi-right {
    font-weight: bold;
    float: right;
}
p.minimum-next-bid {
    color: #959595;
    font-size: 1em;
    padding: 6px;
}
p.minimum-next-bid span {
    font-weight: bold;
    color: #757575;
    padding-left: 10px;
}
#bid-now-button {
    margin: 0px 0px 20px 0px;
    font-size: 1.2em;
    height: 50px;
    font-weight: bold;
}
#bid-buttons .col-xs-6 {
    padding: 6px;
}
button.add-to-watch-list-button, input.max-bid-button {
    /*font-size: 0.9em;
    font-weight: bold;*/
}
a.go-to-watch-list-button {
    /*padding: 8px 12px;
    font-size: 0.8em;
    font-weight: bold;*/
}
.watch {
    margin-bottom: 10px;
    width: 100%;
}
#product-details-header {
    margin-bottom: 20px;
}
#product-details-header h1 {
    margin: 0px 0px 10px 0px;
    font-size: 2.0em;
    line-height: 1.5em;
}
#product-details-header h2 {
    margin: 0px 0px 10px 0px;
    font-size: 1.4em;
}
#product-details-admin-menu {
    margin-bottom: 30px;
}
#product-details-image-gallery .panel-heading {
    border: none;
    background: none;
    padding: 10px;
}
#product-details-image-gallery .panel-heading span.click-to-enlarge {
    font-size: 0.8em;
    color: #959595;
}
#product-details-admin-panel {}
#product-details-info-panel {}
#product-details-auction-info {}
#product-details-product-info .panel-body {
    padding: 30px 24px;
}
#product-details-product-info p.loa-snippet {
    margin-top: 30px;
    font-weight: 700;
    color: #000;
}

/* PRODUCT LIST
---------------------------------------------------------------------*/

.product-subtitle {
    margin-top: 10px;
}

/* FOOTER
---------------------------------------------------------------------*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #FFF;
}

.footer li a, .footer a {
    color: #FFF;
    text-decoration: none;
}

.footer li a:hover, .footer a:hover {
    color: #FFF601;
}

.footer div.row{
    padding: 20px;
}

/* REPORTS
---------------------------------------------------------------------*/
.report-form {
    text-align: center;
    margin: 15px;
}
.report-content > .page-header {
    margin: 10px 0 10px;
}
.report-content > .per-page {
    float: right;
}
.table-report {
    font-size: 0.95em;
}

/* OBJECT GRID : for making responsive table-like views of objects
   (see Product Rules and Product Rule Set if implementation is unclear)
---------------------------------------------------------------------*/]
/* TODO Vertically center the labels 'absolutely' within
   the relative scope of the row or column. */
div.grid-label {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

/* TODO Pare down synax by @including hidden-sm, hidden-xs */
div.grid-label-row {
    border-bottom: 1px solid #e0e0e0;
    padding: 20px 20px 10px 20px;
    font-weight: bold;
}

/* TODO Pare down synax by @including visible-sm-block, visible-xs-block */
div.grid-label-column {
    position: relative;
    padding: 10px;
    font-weight: bold;
}

div.grid-object-row {
    border-top: 1px solid #f0f0f0;
    padding: 20px;
}

div.grid-object {
    padding: 5px;
}

div.admin-grid {
    padding: 12px;
    min-height: 120px;
    font-weight: bold;
    font-size: 0.85em;
    text-transform: uppercase;
}

/* ADMIN PANEL
---------------------------------------------------------------------*/

div.icon {
    margin: auto;
    padding-bottom: 10px;
}

div.icon span.glyphicon {
    font-size: 3.6em;
}

/* Panels & List Groups
---------------------------------------------------------------------*/

div.panel {
    border-radius: 0px;
}

div.panel-default div.panel-heading {
    background-image: none;
}

div.panel-grid {
    margin-bottom: 40px;
}

div.panel-grid .panel-heading {
    font-size: 1.15em;
    font-weight: bold;
    letter-spacing: 0.05em;
    color: #312D2D;
    padding: 15px 20px;
}

div.panel-index .panel-heading {
    font-size: 1.15em;
    font-weight: bold;
    letter-spacing: 0.05em;
    color: #312D2D;
    padding: 15px 20px;
}

div.panel-index .panel-heading a {
    color: #312D2D;
    text-decoration: none;
}

div.panel-index .panel-heading a:hover {
    color: #312D2D;
    text-decoration: underline;
}

div.panel.panel-index {
    margin-bottom: 0;
}

.panel-images .panel-body {
    padding: 25px;
}

a .panel {
    font-weight: bold;
    text-decoration: none;
    border: 2px solid #BBB;
}
a:hover .panel {
    border: 2px solid #000;
}
a:hover .panel-body p {
    text-decoration: none;
}
a:active .panel {
    border: 2px solid #BE1D23;
    color: #BE1D23;
}

.list-group a {
    font-weight: normal;
}

div.list-group.list-group-index {
    margin-bottom: 0;
}

div.panel-body.list-group {
    padding: 0px;
}

li.list-group-item.images {
    overflow: auto;
}

div.auction-set.panel div.panel-header {
    min-height: 36px;
}

div.auction-set.panel.panel-default {
    margin-top: 20px;
}

.auction-set-row:last-of-type .auction-set-container:last-of-type .auction-set {
    border: 2px solid #000;
}

#linked-products-panel .linked-product-row {
    margin: 16px 0px;
}
#linked-products-panel h3 {
    margin: 0px;
    padding: 10px 0px;
    font-size: 1.2em;
    line-height: 1.2em;
}
#linked-products-panel p.no-links {
    color: #858585;
    margin: 10px;
    padding: 10px;
}
#linked-product-form li {
    padding: 20px;
}

/* Grid result set
---------------------------------------------------------------------*/
div.container.result-set {
    margin-top: 40px;
}

/* Absolute centering
---------------------------------------------------------------------*/
div.absolute-center-parent {
  position: relative;
  height: 100%;
  width: 100%;
}
div.absolute-center-child {
  position: absolute;
  /*top: 40%;
  transform: translateY(-40%);*/
  left: 50%;
  transform: translateX(-50%);
}

/* Minimal design elements
---------------------------------------------------------------------*/
html.minimal,
body.minimal,
div.container-fluid.minimal,
div.row.minimal,
div.col-sm-12.minimal {
    height: 100%;
}
div.big-logo {
    padding: 40px;
    width: 100%;
}
div.disclaimer {
    margin-top: 50px;
    font-size: 0.85em;
}

ul.errors.minimal-errors {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

/* CLNDR
---------------------------------------------------------------------*/
.listing-calendar {
  margin: 10px auto 30px auto;
  /*max-width: 400px;*/
  font-size: 15px;
  padding: 0px 20px 0px 20px;
}
.listing-calendar .calendar {
    padding: 0px;
}
.listing-calendar .info-panel {
    padding: 0px;
    margin-top: 36px;
    border: 1px solid #000;
    border-left: none;
}
.listing-calendar .info-panel .info-heading {
    height: 30px;
    background: #252525;
    font-size: 10px;
    color: #FFF;
    text-align: center;
    padding: 6px;
}
.listing-calendar .info-panel .info-body {
  max-height: 250px;
  padding: 10px;
  font-size: 11px;
  overflow: scroll;
}
.listing-calendar .info-panel .info-body .heading {
  font-weight: bold;
}
.listing-calendar .clndr .clndr-controls {
  display: inline-block;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}
.listing-calendar .clndr .clndr-controls .month {
  float: left;
  width: 60%;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.listing-calendar .clndr .clndr-controls .clndr-control-button {
  float: left;
  width: 20%;
}
.listing-calendar .clndr .clndr-controls .clndr-control-button.rightalign {
  text-align: right;
  width: 20%;
}
.listing-calendar .clndr .clndr-controls .clndr-control-button .clndr-next-button {
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.listing-calendar .clndr .clndr-controls .clndr-control-button .clndr-next-button:hover {
  background: #ddd;
}
.listing-calendar .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive {
  opacity: 0.5;
}
.listing-calendar .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive:hover {
  background: none;
  cursor: default;
}
.listing-calendar .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.listing-calendar .clndr .clndr-controls .clndr-control-button .clndr-previous-button:hover {
  background: #ddd;
}
.listing-calendar .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive {
  opacity: 0.5;
}
.listing-calendar .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive:hover {
  background: none;
  cursor: default;
}
.listing-calendar .clndr .clndr-table {
  table-layout: fixed;
  width: 100%;
}
.listing-calendar .clndr .clndr-table .header-days {
  height: 30px;
  font-size: 10px;
  background: #252525;
}
.listing-calendar .clndr .clndr-table .header-days .header-day {
  vertical-align: middle;
  text-align: center;
  border-left: 1px solid #000000;
  border-top: 1px solid #000000;
  color: #fff;
}
.listing-calendar .clndr .clndr-table .header-days .header-day:last-child {
  border-right: 1px solid #000000;
}
.listing-calendar .clndr .clndr-table tr {
  height: 52px;
}
.listing-calendar .clndr .clndr-table tr td {
  vertical-align: top;
}
.listing-calendar .clndr .clndr-table tr .day {
  border-left: 1px solid #000000;
  border-top: 1px solid #000000;
  width: 100%;
  height: inherit;
  cursor: pointer;
}
.listing-calendar .clndr .clndr-table tr .day:hover {
  background: #eee;
}
.listing-calendar .clndr .clndr-table tr .day.today .day-contents,
.listing-calendar .clndr .clndr-table tr .day.my-today .day-contents {
  color: #FFFFFF;
  background: #000000;
  border-radius: 4px;
}
.listing-calendar .clndr .clndr-table tr .day.today:hover,
.listing-calendar .clndr .clndr-table tr .day.my-today:hover {
  background: #eee;
}
.listing-calendar .clndr .clndr-table tr .day.today.event,
.listing-calendar .clndr .clndr-table tr .day.my-today.event {
  background: #000;
}
.listing-calendar .clndr .clndr-table tr .day.event,
.listing-calendar .clndr .clndr-table tr .day.my-event {
  background: #E05054;
}
.listing-calendar .clndr .clndr-table tr .day.event:hover,
.listing-calendar .clndr .clndr-table tr .day.my-event:hover {
  background: #D04044;
}
.listing-calendar .clndr .clndr-table tr .day.event.temp,
.listing-calendar .clndr .clndr-table tr .day.my-event.temp {
  background: #91c9ff;
}
.listing-calendar .clndr .clndr-table tr .day.event.temp:hover,
.listing-calendar .clndr .clndr-table tr .day.my-event.temp:hover {
  background: #7fb1e0;
}
/*Consignor Colors*/
.listing-calendar .clndr .clndr-table tr .day.event.sea-green,
.listing-calendar .clndr .clndr-table tr .day.my-event.sea-green {
  background: #009999;
}
.listing-calendar .clndr .clndr-table tr .day.event.sea-green.transparent,
.listing-calendar .clndr .clndr-table tr .day.my-event.sea-green.transparent {
  background: rgba(0, 153, 153, 0.3);
}
.listing-calendar .clndr .clndr-table tr .day.event.sea-green:hover,
.listing-calendar .clndr .clndr-table tr .day.my-event.sea-green:hover {
  background: #008A8A;
}
.listing-calendar .clndr .clndr-table tr .day.event.pristine-red,
.listing-calendar .clndr .clndr-table tr .day.my-event.pristine-red {
  background: #BE1D23;
}
.listing-calendar .clndr .clndr-table tr .day.event.pristine-red.transparent,
.listing-calendar .clndr .clndr-table tr .day.my-event.pristine-red.transparent {
  background: rgba(190, 29, 35, 0.3);
}
.listing-calendar .clndr .clndr-table tr .day.event.pristine-red:hover,
.listing-calendar .clndr .clndr-table tr .day.my-event.pristine-red:hover {
  background: #AB1A20;
}
.listing-calendar .clndr .clndr-table tr .day.event.blue-purple,
.listing-calendar .clndr .clndr-table tr .day.my-event.blue-purple {
  background: #4e77ff;
}
.listing-calendar .clndr .clndr-table tr .day.event.blue-purple.transparent,
.listing-calendar .clndr .clndr-table tr .day.my-event.blue-purple.transparent {
  background: rgba(78, 119, 255, 0.3);
}
.listing-calendar .clndr .clndr-table tr .day.event.blue-purple:hover,
.listing-calendar .clndr .clndr-table tr .day.my-event.blue-purple:hover {
  background: #466BE6;
}
.listing-calendar .clndr .clndr-table tr .day.event.purple,
.listing-calendar .clndr .clndr-table tr .day.my-event.purple {
  background: #a17eff;
}
.listing-calendar .clndr .clndr-table tr .day.event.purple.transparent,
.listing-calendar .clndr .clndr-table tr .day.my-event.purple.transparent {
  background: rgba(161, 126, 255, 0.3);
}
.listing-calendar .clndr .clndr-table tr .day.event.purple:hover,
.listing-calendar .clndr .clndr-table tr .day.my-event.purple:hover {
  background: #9171E6;
}
/*End Consignor Colors*/
.listing-calendar .clndr .clndr-table tr .day.inactive,
.listing-calendar .clndr .clndr-table tr .day.my-inactive {
  background: #ddd;
}
.listing-calendar .clndr .clndr-table tr .day:last-child {
  border-right: 1px solid #000000;
}
.listing-calendar .clndr .clndr-table tr .day .top-row {
  display: block;
  text-align: right;
}
.listing-calendar .clndr .clndr-table tr .day .bottom-row {
  display: block;
  text-align: right;
}
.listing-calendar .clndr .clndr-table tr .day .day-contents {
  position: absolute;
  background: #FFFFFF;
  border-radius: 4px;
  margin: 2px;
  padding: 2px 3px 4px 2px;
  width: 20px;
  height: 20px;
  font-size: 12px;
  text-align: center;
}
.listing-calendar .clndr .clndr-table tr .day .day-contents .date {
  font-size: 11px;
  text-align: left;
}
.listing-calendar .clndr .clndr-table tr .day .count-badge {
  display: inline-block;
  margin: 5px 6px 3px 0px;
  font-size: 12px;
  color: #FFFFFF;
}
.listing-calendar .clndr .clndr-table tr .day .count-badge .count {
  font-size: 12px;
  margin: 0px;
}
.listing-calendar .clndr .clndr-table tr .day .count-badge .count.glyphicon {
  font-size: 10px;
  margin-right: -2px;
}
.listing-calendar .clndr .clndr-table tr .day .linked-badge {
  display: inline-block;
  margin: 3px 6px 5px 0px;
  font-size: 12px;
  color: #FFFFFF;
}
.listing-calendar .clndr .clndr-table tr .day .linked-badge .linked {
  font-size: 12px;
  margin: 0px;
}
.listing-calendar .clndr .clndr-table tr .day .linked-badge .linked.glyphicon {
  font-size: 10px;
  margin-right: -2px;
}
.listing-calendar .clndr .clndr-table tr .empty,
.listing-calendar .clndr .clndr-table tr .adjacent-month,
.listing-calendar .clndr .clndr-table tr .my-empty,
.listing-calendar .clndr .clndr-table tr .my-adjacent-month {
  border-left: 1px solid #000000;
  border-top: 1px solid #000000;
  width: 100%;
  height: inherit;
  background: #eee;
}
.listing-calendar .clndr .clndr-table tr .empty:hover,
.listing-calendar .clndr .clndr-table tr .adjacent-month:hover,
.listing-calendar .clndr .clndr-table tr .my-empty:hover,
.listing-calendar .clndr .clndr-table tr .my-adjacent-month:hover {
  background: #ddd;
}
.listing-calendar .clndr .clndr-table tr .empty:last-child,
.listing-calendar .clndr .clndr-table tr .adjacent-month:last-child,
.listing-calendar .clndr .clndr-table tr .my-empty:last-child,
.listing-calendar .clndr .clndr-table tr .my-adjacent-month:last-child {
  border-right: 1px solid #000000;
}
.listing-calendar .clndr .clndr-table tr:last-child .day,
.listing-calendar .clndr .clndr-table tr:last-child .my-day {
  border-bottom: 1px solid #000000;
}
.listing-calendar .clndr .clndr-table tr:last-child .empty,
.listing-calendar .clndr .clndr-table tr:last-child .my-empty {
  border-bottom: 1px solid #000000;
}



/* FullCalendar.io */
.fullcal-legend-container {
    margin-top:47px;
    padding-right:15px;
    padding-left:0px;
}
.fullcal-legend-row {
    color:#FFF;
    min-height:20px;
    padding: 5px 0;
    border-radius: 3px;
    margin-bottom: 4px;
}
.fullcal-legend-row a {
    color:#FFF;
    text-decoration: underline;
}

/* Bootstrap equal height row fix */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  align-items: center;
}

/* Shipment dashboard */

.package {
    margin: 5px 0px;
}
.package span.placeholder {
    display: block;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    color: #888;
}
.package span.ship-to {
    display: block;
    text-align: left;
}
.package address {
    font-size: 0.9em;
}
.package .package-contents {
    min-height: 50px;
}
.package .package-contents .item {
    border: none;
    margin: 10px 0px;
    color: #000;
}

.package .package-contents .item .portlet-body {
    background-color: #F7F7F7;
    padding: 10px;
}
.package .package-contents .portlet-placeholder {
    border: 2px dotted #AAA;
    border-radius: 2px;
    margin: 10px;
    height: 50px;
}
.package .package-contents .handle {
    cursor: move;
    cursor: grab;
    cursor: -webkit-grab;
    padding: 10px;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    color: #888;
}
.package .package-contents .handle:active {
    color: #000;
    border-color: #000;
    cursor: move;
    cursor: grabbing;
    cursor: -webkit-grabbing;
}
.package .img-responsive {
    max-height: 40px;
}
.row.create-shipment-button {
    margin: 10px 0px 40px 0px;
}

.shipped-shipment {
    margin: 0px 0px 50px 0px;
}

.row.invoice-shipment {
    margin: 10px 0;
}
.invoice-shipment a.track-package {
    margin-bottom: 10px;
}

/* Components */

div.row.inline-button-menu {
    margin: 10px 0 26px 0;
}
div.row.inline-button-menu a.btn,
div.row.inline-button-menu button.btn {
    margin-bottom: 4px;
}

ul.consignor-activity-details-tabs {

}
ul.consignor-activity-details-tabs li.venue-tab {
    font-size: 0.8em;
}
ul.consignor-activity-details-tabs li.venue-tab.disabled a:hover {
    cursor: default;
}
ul.consignor-activity-details-tabs li.venue-tab span.subtotal {
    font-size: 1.33em;
}

#search-controls-toggle {
    width: 100%;
    color: #888;
    margin: 10px 0;
}

button.search-category-btn span.search-category {
    font-size: 1.0em;
    font-weight: 300;
    letter-spacing: 0em;
}

.search-controls .btn-group button {
    text-shadow: none;
}

/* /marketplace/index */
.category-tile-container {
    padding: 0;
}

.category-tile {
    padding: 20px 0px;
    margin: 15px;
    height: 200px;
    border: 6px solid #000;
    background: #efefef;
    opacity: 0.75;
}

.category-tile:hover {
    border: 6px solid #BE1D23;
    opacity: 1.0;
    background: #222;
}

.category-tile h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -0.03em;
    font-weight: 700;
    font-size: 1.8em;
    margin-top: 20px;
    color: #000;
    padding: 10px 0;
    background: rgba(255, 255, 255, 0.6);
}
.category-tile:hover h2 {
    color: #FFF;
    background: rgba(0, 0, 0, 0.6);
}
.category-tile-container:hover a {
    text-decoration: none;
}

.admin-item-row .row.user-info,
.admin-item-row .row.price-info {
    margin-top:8px;
    color:#BBB;
}
.admin-item-row .row.user-info a,
.admin-item-row .row.price-info a {
    color:#BBB;
}

.auction-type-countdown {
    margin-bottom: 20px;
    font-size: 16px;
}
.auction-type-countdown .product-countdown {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 20px;
    /*font-weight: bold;*/
    letter-spacing: 0.05em;
    margin-top: 6px;
}
.auction-type-countdown hr {
    margin: 10px 0;
}
.auction-type-countdown ul {
    margin: 0;
    padding: 20px 0 21px 0;
    border-bottom: 1px #E0E0E0 solid;
}
.auction-type-countdown ul:first-of-type {
    border-top: 1px #E0E0E0 solid;
    margin-top: 2px;
}
.auction-type-countdown ul li {
    margin: 0;
    padding: 0px;
}
.auction-type-countdown .product-countdown-labels {
    font-size: 10px;
    padding: 0 2px;
}
.auction-type-countdown .product-countdown-labels .unit {
    padding: 0 8px;
}
.auction-type-countdown .product-countdown-labels .unit:first-of-type {
    padding-left: 0;
}
.auction-type-countdown .product-countdown-labels .unit:last-of-type {
    padding-right: 0;
}

#mc_embed_signup {

}
#mc_embed_signup h2 {
    font-size: 1.2em;
}

/* CORE MEDIA QUERIES
---------------------------------------------------------------------*/

/* CSS used here will be applied after bootstrap.css */
@media (max-width:767px) {
    .col-xs-pull-right { float: right; }
    .navbar-inverse {
        background-color: #F5F5F5;
    }
    .navbar-brand-centered {
        position: absolute;
        top: -5px;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
    }
    .navbar>.container .navbar-brand-centered,
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }

    .main-content-row {
        margin-top: 20px;
    }

    .carousel-control .glyphicon-chevron-left {
        margin-left: -25px;
    }

    .carousel-control .glyphicon-chevron-right {
        margin-right: -25px;
    }
    .carousel div.item .row-eq-height img {
        max-height: 180px;
    }

    .carousel div.item .row-eq-height {
        height: 200px;
    }

    .carousel div.item .slider-title {
        margin-top: 0;
        height: 70px;
    }

    .carousel div.item span {
        margin-left: 10px;
    }
}

/***Responsive Floats***/
@media (min-width: 768px) {
    .col-sm-pull-left { float: left; }

    .col-sm-pull-right { float: right; }

    div.product-list img { max-width: 100px; }

    #site-search { margin-top: 5px; }

    .carousel-control .glyphicon-chevron-left {
        margin-left: -35px;
    }

    .carousel-control .glyphicon-chevron-right {
        margin-right: -35px;
    }
}
@media (min-width: 992px) {
    .col-sm-pull-left { float: left; }

    .col-sm-pull-right { float: right; }

    .carousel-control .glyphicon-chevron-left {
        margin-left: -45px;
    }

    .carousel-control .glyphicon-chevron-right {
        margin-right: -45px;
    }
}
@media (min-width: 1200px) {
    .col-sm-pull-left { float: left; }

    .col-sm-pull-right { float: right; }

    .carousel-control .glyphicon-chevron-left {
        margin-left: -60px;
    }

    .carousel-control .glyphicon-chevron-right {
        margin-right: -60px;
    }
}
