<?xml version="1.0" encoding="UTF-8"?>
<configdata>
    <production>
        <application>
            <name>Installfest</name>
            <desc>Installfest</desc>
        </application>
        <site>
            <hostname>azloco-installfest.test</hostname>
            <url>azloco-installfest.test</url>
            <baseurl>/</baseurl>
            <title>Installfest</title>
            <description>Installfest log submission and lookup.</description>
            <keywords></keywords>
            <remember_login_seconds>30000</remember_login_seconds>
        </site>
        <database>
            <adapter>PDO_MYSQL</adapter>
            <params>
                <host>127.0.0.1</host>
                <port>3306</port>
                <username>root</username>
                <password></password>
                <dbname>installfest</dbname>
            </params>
        </database>
        <session>
            <name>InstallFest</name>
        </session>
        <path>
            <library>/library</library>
        </path>
        <environment>
            <default_timezone>America/Phoenix</default_timezone>
            <debug>1</debug>
            <compress_output>0</compress_output>
            <log_queries>1</log_queries>
            <cache_table_metadata>0</cache_table_metadata>
        </environment>
        <admintools>
            <webmaster>
                <enable_mail>1</enable_mail>
                <name>Webmaster</name>
                <email>support@azloco-installfest.com</email>
                <enable_stream>1</enable_stream>
                <logpath>/public_html/exceptions_log.txt</logpath>
            </webmaster>
        </admintools>
    </production>
    <staging extends="production">
        <site>
            <hostname>azloco-installfest.test</hostname>
            <url>azloco-installfest.test</url>
            <title>Installfest Staging</title>
        </site>
        <database>
            <adapter>PDO_MYSQL</adapter>
            <params>
                <host>127.0.0.1</host>
                <port>3306</port>
                <username>root</username>
                <password></password>
                <dbname>installfest</dbname>
            </params>
        </database>
        <session>
            <name>InstallFestStaging</name>
        </session>
        <path>
            <library>/library</library>
        </path>
        <environment>
            <default_timezone>America/Phoenix</default_timezone>
            <debug>1</debug>
            <compress_output>0</compress_output>
            <log_queries>1</log_queries>
        </environment>
    </staging>
</configdata>
